              
              
              
              <table  id="background_about">
              <tr><td align="center" dir="ltr">
              
               
               <div style="width:282px; height:129px; background-image:url(img/jasr_logo.png)"></div>
               
               <div class="line"></div>
               
               <h3> جميع الحقوق محفوظة لفريق جَسر 2016. إن أردت أن نطوّر لك تطبيقًا معينًا فضلًا قم بالتواصل معنا عبر أحد وسائل التواصل التالية: </h3>
               
               <br>
               
              
               
              
              <table width="150">
              
              
              <tr>
             <td align="left"> <a href="http://Jasr.team" target="_blank"> http://Jasr.Team </a> </td>
              <td align="left" width="60">
              <button class="button_about" > <span class="icons_about fa fa-internet-explorer"></span> </button>
              </td>
              </tr>
               
              
              <tr>
              <td align="left">info@Jasr.Team </td>
              <td align="left" width="60"><button class="button_about" > <span class="icons_about  fa fa-envelope"></span> </button></td>
              </tr>
              
              <tr>
              <td align="left"><a href="https://twitter.com/JasrTeam" target="_blank"> JasrTeam@ </a>  </td>
              <td align="left" width="60"><button class="button_about" > <span class="icons_about fa fa-twitter"></span> </button></td>
              </tr>
              
              <tr>
              <td align="left">00966538571692  </td>
              <td align="left" width="60"><button class="button_about" > <span class="icons_about fa fa-whatsapp"></span> </button></td>
              </tr>
              
              
              </table>

               
               
               
                
              
              </td></tr>
              </table>
              
 
              
              