             
             
                  
               <button class="change_page button button_type" data-page_id="select_guess" > آية وتخمين سورة </button>
                
               <button class="change_page button button_type" data-page_id="select_juz" > اختبار الحفظ حسب الأجزاء </button>
               
               <button class="change_page button button_type" data-page_id="select_page" > اختبار الحفظ حسب الصفحات </button>
               
               <button class="change_page button button_type" data-page_id="select_surah" > اختبار الحفظ حسب السّور </button>
               
              
               
                
            
               
               
 

              
               
      
              
             