              
              <br>
              <h3 class="white_font"> التقييم العام هو:   </h3>
              <br>
              <table class="box_dgree">
              <tr><td>
                            <span id="general_degree"> 95% </span>
              </td></tr>
              </table>
              <br>
              
              
              <!---------------------------------------->
              
              <center>
              <table id="rows_degree">

              </table>
              </center>
              
              
              
              
              
